@model HomeBlogDetailsView
@{
    ViewData["Title"] = "Blog Yazısı 01";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <span class="meta">
                        Posted by
                        <a href="#">@Model.Author</a>
                        on @Model.CreationDate.ToString("MMMM dd yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Model.Content
            </div>
        </div>
    </div>
</article>

<hr>

